<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="title">
			<h1>Customer Management System</h1>
		</div>

		<div class="login-form">
			<form th:action="@{/login}" method="post">
				<table class="table table-bordered col-md-3">
					<tr class="form-group">
						<th class="text-center">名前</th>
						<td><input type="text" class="form-controll" name="username"></td>
					</tr>
					<tr class="form-group">
						<th class="text-center">パスワード</th>
						<td><input type="password" class="form-controll"
							name="password"></td>
					</tr>
				</table>
				<!--/* ログインエラー時にメッセージを表示 */-->
				<div th:if="${param.error}" class="alert alert-danger">
					名前またはパスワードが正しくありません</div>

				<div class="box-footer text-center">
					<button type="submit" class="btn btn-primary">ログイン</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>